.header {
  padding: 1rem;
  background-color: #070707f6;
  border-bottom: 2px ridge whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;

}

.header a {
  text-decoration: none;
  color: white;
}