.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.list li a {
  text-decoration: none;
  color: white;
}

.list li a:hover {
  text-decoration: underline;
  color: gold;
}

.list li a.active {
  color: gold;
}